<ion-content>
  <div class="ion-padding">
    <ion-toolbar>
      BLOCOS
    </ion-toolbar>
    <ion-grid>
      <ion-row *ngFor="let bloco of blocos">
        <ion-col>
          <ion-card button [routerLink]="['/bloco', bloco.id]" routerDirection="forward">
            <ion-card-header>
              <ion-card-title>
                {{ bloco.nome }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
             Descrição: {{ bloco.descricao }}. Latitude: {{ bloco.latitude }}. Longitude: {{ bloco.longitude }}.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>