<ion-content>
  <div class="ion-padding">
 
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="bloco.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea [(ngModel)]="bloco.descricao" rows="8"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Latitude</ion-label>
    <ion-input [(ngModel)]="bloco.latitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Longitude</ion-label>
    <ion-input [(ngModel)]="bloco.longitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Raio</ion-label>
    <ion-input [(ngModel)]="bloco.raio"></ion-input>
  </ion-item>
</div>
</ion-content>
 
<ion-footer *ngIf="!bloco.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addBloco()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Adicionar Bloco
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="bloco.id">
  <ion-row  text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteBloco()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Deletar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateBloco()">
        <ion-icon name="save" slot="start"></ion-icon>
        Atualizar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
