<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- ion-back-button defaultHref="/"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Cadastro de Bloco</ion-title>
    <ion-buttons slot="start" class="sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios buttons-first-slot hydrated">
      <ion-menu-button class="ios button ion-activatable ion-focusable hydrated"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-menu side="start" menuId="custom" class="meu-menu">
    <ion-content>
      <ion-list>
        <ion-item  routerLink="/home" routerDirection="root">Início</ion-item>
        <ion-item  routerLink="/blocos" routerDirection="root">Blocos</ion-item>
        <ion-item  routerLink="/blocosCadastro" routerDirection="root">Blocos Cadastro</ion-item>

        <ion-item  routerLink="/cursos" routerDirection="root">Cursos</ion-item>
        <ion-item  routerLink="/pesquisa" routerDirection="root">Pesquisa Avançada</ion-item>
        <ion-item  routerLink="/agenda" routerDirection="root">Agenda</ion-item>
        <ion-item  routerLink="/sobre" routerDirection="root">Sobre o Campus</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
<ion-content padding>
 
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="bloco.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea [(ngModel)]="bloco.descricao" rows="8"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Latitude</ion-label>
    <ion-input [(ngModel)]="bloco.latitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Longitude</ion-label>
    <ion-input [(ngModel)]="bloco.longitude"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Raio</ion-label>
    <ion-input [(ngModel)]="bloco.raio"></ion-input>
  </ion-item>
</ion-content>
 
<ion-footer *ngIf="!bloco.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addBloco()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Adicionar Bloco
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="bloco.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteBloco()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Deletar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateBloco()">
        <ion-icon name="save" slot="start"></ion-icon>
        Atualizar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
