<ion-content>
      <ion-searchbar placeholder="Pesquisar" (ionInput)="filtrarLista($event)"></ion-searchbar>
      <ion-grid align-items-center>
            <ion-row align-items-center>
                  <ion-col align-items-center>
                        Local
                  </ion-col>
                  <ion-col>
                        Bloco
                  </ion-col>
            </ion-row>
            <ion-row align-items-center *ngFor="let sala of salas">
                  <ion-col>
                  <ion-text>  {{sala.nome}}</ion-text> 
                  </ion-col>
                  <ion-col>
                      <ion-text>{{sala.bloco}} - {{sala.piso}} - {{sala.descricao}}</ion-text> 
                  </ion-col>
            </ion-row>
      </ion-grid>
</ion-content>