
  <ion-content>
      <div class="ion-padding">
    <ion-grid>
      <!-- <ion-row>
        <ion-col>
          <ion-button (click)="loadMap()" >loadMap()</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
            <div class="map-wrapper">
                <div id="map_center">
                </div>
                <div #map id="map"></div>
              </div>
              <!-- <div id="address">
                <span>{{address}}</span>
              </div>            -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

