<ion-header >
    <ion-toolbar color="primary">
      <ion-title>
        MAPAS UTFPR
      </ion-title>
      <ion-buttons slot="start" class="sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios buttons-first-slot hydrated">
          <ion-menu-button class="ios button ion-activatable ion-focusable hydrated"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-menu side="start" menuId="custom" class="meu-menu">
          <ion-content>
            <ion-list>
              <ion-item  routerLink="/home" routerDirection="root">Início</ion-item>
              <ion-item  routerLink="/blocos" routerDirection="root">Blocos</ion-item>
              <ion-item  routerLink="/blocosCadastro" routerDirection="root">Blocos Cadastro</ion-item>
              <ion-item  routerLink="/cursos" routerDirection="root" > Cursos</ion-item>
              <ion-item  routerLink="/pesquisa" routerDirection="root">Pesquisa Avançada</ion-item>
              <ion-item  routerLink="/agenda" routerDirection="root">Agenda</ion-item>
              <ion-item  routerLink="/sobre" routerDirection="root">Sobre o Campus</ion-item>
            </ion-list>
          </ion-content>
        </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
  
  
  
  
      <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button>Qualquer Frase</ion-button>
          <ion-col text-center>
            Your Registered EmailID : {{userEmail}}
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

