
  <ion-content>
      <!-- <div class="ion-padding">
    <ion-grid> -->
      <!-- <ion-row>
        <ion-col>
          <ion-button (click)="loadMap()" >loadMap()</ion-button>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col> -->
            <iframe src="https://www.google.com/maps/d/embed?mid=15sUVuEGew__3q8WeLlU94KbSnsWCT3hj&ll=-25.052142200842503%2C-50.130668682171745&z=16" height="{{ alturaJanela }}" width="{{ larguraJanela }}"></iframe>
            
            <!-- <div class="map-wrapper">
                <div id="map_center">
                </div>
                <div #map id="map"></div>
              </div> -->
              <!-- <div id="address">
                <span>{{address}}</span>
              </div>            -->
        <!-- </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>

